<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        #banner 
        {
        height: 360px;
        width:100%;
        object-fit: cover;
        margin-bottom: 16px;
        }
    </style>
     <title>Jobs</title>
    
</head>
<body>
        {%include 'navbar.html' %}
        <div class="container">
        <h1 class="text-center mt-2 mb-4">Careers</h1>
        <img class="img-fluid" id="banner" src="./static/logo.jpg" alt="logo">
        <h2 class="text-center mt-2 mb-4">About Jobs</h2>
    <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
        <p class="lead">Welcome to our website, your go-to source for finding exciting career opportunities in the financial services industry, particularly in asset management. We specialize in connecting talented individuals with leading firms in the industry, providing opportunities for professional growth and advancement. If you're a data scientist, quantitative analyst, quantitative researcher, or portfolio manager looking for the next step in your career, we've got you covered. Our network of partners includes top-tier asset management firms that offer a range of investment solutions to clients worldwide. We are committed to helping our candidates find the perfect fit, providing access to a wide range of career options and support throughout the hiring process. Join us today to take the first step towards your dream career in the financial services industry.</p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="./static/people.jpg" alt="people" style="height:320px; border-radius: 20px;">
        </div>
    </div>
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
         <div>
            {%for job in jobs %}
                {%include 'job_items.html'%}
            {%endfor%}
        </div>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="mailto:developer0.ali1@gmail.com?subject=Enquiry&body=Name%3A%20%3Cyour%20name%20here%3E%0D%0AQuestions%3A%20%3CEnter%20your%20questions%3E">Contact Us</a>
    </div>
</div>
{%include 'footer.html'%}
</body>
</html>
